.list-coffee-container {
  background-color: #1b1d1f;
  width: 1200px;
  border-radius: 12px;
  position: absolute;
  top: 170px;
  left: 50%;
  translate: -50%;
  padding-bottom: 5%;
}
.article-container {
  color: #fef7ee;
  background-image: url(../assets/images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.article-content {
  padding: 70px;
  text-align: center;
}

.article-content__paragraph {
  text-align: center;
  margin: 7px 231px 0px;
  padding-bottom: 17px;
}
.content-container-button {
  gap: 17px;
  display: inline-flex;
}
.article-content__button {
  color: #fef7ee;
  font-weight: 500;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #1b1d1f;
  cursor: pointer;
}
.botonSeleccionado {
  background-color: #6f757c;
}
.Card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 44px;
  justify-content: center;
  align-items: center;
  place-items: center;
}

/*TABLET*/

@media only screen and (max-width: 1024px) {
  .list-coffee-container {
    width: 680px;
  }
  .article-content__paragraph {
    margin: 7px 49px 0px;
  }
  .Card-container {
    grid-template-columns: 1fr 1fr;
  }
  .article-content {
    padding: 43px;
  }
}

/*MOBILE*/

@media only screen and (max-width: 640px) {
  .list-coffee-container {
    width: 378px;
    top: 75px;
  }
  .article-content {
    font-size: 12px;
  }
  .article-content__paragraph {
    font-size: 11px;
  }
  .Card-container {
    grid-template-columns: 1fr;
  }
  .article-content__button {
    font-size: 11px;
    padding: 3px;
  }
  .imagen {
    height: 200px;
  }
  .container-popular > p {
    font-weight: 500;
    font-size: 10px;
    padding: 2px;
  }
  .coffee-type {
    font-size: 14px;
  }
  .coffee-price {
    font-size: 12px;
    width: 19%;
  }
  .container-types__coffees {
    font-size: 14px;
  }
}
