@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.image-header {
  background-image: url("./assets/images/bg-cafe.jpg");
  background-repeat: no-repeat;
  height: 400px;
}

.App-header {
  background-color: #111315;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
