.Card {
  background-color: red;
  width: 300px;
  height: 250px;
}

.coffee-type {
  font-weight: 400;
  color: #fef7ee;
}

.container-types__coffees {
  height: 22px;
  background-image: url(./assets/images/Star_fill.svg);
  background-repeat: no-repeat;
  background-position: left 0px;
  color: #fef7ee;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.coffe-votes {
  margin-left: 30px;
  display: flex;
  gap: 5px;
}
.coffe-votes span {
  color: #6f757c;
}

.coffee-type--price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.coffee-price {
  background-color: #bee3cc;
  color: #111315;
  font-weight: 500;
  padding: 1%;
  width: fit-content;
  border-radius: 10px;
}

.sold-out {
  color: #ed735d;
}

.container-popular {
  position: absolute;
  left: 13%;
  translate: -40%;
  border-radius: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  background-color: #f6c768;
  width: 25%;
  padding: 3px;
  top: 3%;
}

.container-img {
  position: relative;
}
