.list-coffee-container {
  background-color: #1b1d1f;
  width: 1200px;
  height: 1000px;
  border-radius: 12px;
  position: absolute;
  top: 170px;
  left: 100px;
}
.article-container {
  color: #fef7ee;
  background-image: url(./assets/images/vector.svg);
  background-repeat: no-repeat;
  height: 20%;
  background-position: center;
  text-align: center;
}

.article-content {
  padding: 100px;
  text-align: center;
}

.article-content__paragraph {
  text-align: center;
  margin: 7px 231px 0px;
}
