.list-coffee-container {
  background-color: #1b1d1f;
  width: 1200px;
  border-radius: 12px;
  position: absolute;
  top: 170px;
  left: 50%;
  translate: -50%;
}
.article-container {
  color: #fef7ee;
  background-image: url(./assets/images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.article-content {
  padding: 70px;
  text-align: center;
}

.article-content__paragraph {
  text-align: center;
  margin: 7px 231px 0px;
  padding-bottom: 17px;
}
.content-container-button {
  gap: 17px;
  display: inline-flex;
}
.article-content__button {
  color: #fef7ee;
  font-weight: 500;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #6f757c;
}
.Card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 44px;
  justify-content: center;
  align-items: center;
  place-items: center;
}
